In [1]:
%load_ext sql
%sql sqlite:///flights.db

'Connected: None@flights.db'

### Q1

Done.

[('Friday', 14.452012705575017),
 ('Monday', 10.537501524948151),
 ('Saturday', 7.544554592337578),
 ('Sunday', 4.211659780807007),
 ('Thursday', 8.47985564692658),
 ('Tuesday', 4.6315245398299725),
 ('Wednesday', 8.4561902339015)]

### Q2

Done.

[('JetBlue Airways: B6', 21.459498403302437),
 ('American Airlines Inc.: AA', 11.186316345868732),
 ('Frontier Airlines Inc.: F9', 10.106046316671906),
 ('SkyWest Airlines Inc.: OO', 9.099801905480614),
 ('Southwest Airlines Co.: WN', 8.777705490592203),
 ('United Air Lines Inc.: UA', 6.730333043511133),
 ('Virgin America: VX', 6.066317340756509),
 ('Delta Air Lines Inc.: DL', 2.783035510698813),
 ('Hawaiian Airlines Inc.: HA', -0.2698805109188298),
 ('Alaska Airlines Inc.: AS', -1.1098173650924996)]

### Q3

Done.

[('American Airlines Inc.: AA', 11.186316345868732),
 ('ExpressJet Airlines Inc.: EV', 10.766844881917644),
 ('Frontier Airlines Inc.: F9', 10.106046316671906),
 ('JetBlue Airways: B6', 21.459498403302437)]

### Q4

Done.

[(0.3333333333333333,)]

### Q5a

Done.

[(1.9643702523626464e-06,)]

### Q5b

Done.

[(934.4839764507938,),
 (587.4803955715038,),
 (535.7895547491927,),
 (742.7399314481147,),
 (600.5845629261472,),
 (1151.400785362908,),
 (417.6574053741945,),
 (5.664173134742828,),
 (122.61210995443744,),
 (202.8621592041914,)]

### Q5c

Done.

[(1205104163.0847344,)]

### Q5d

Done.

[(2367.2707689620356,)]

### Q6

Done.

[('SkyWest Airlines Inc.: OO',), ('United Air Lines Inc.: UA',)]