In [1]:
%load_ext sql
%sql sqlite:///flights.db

'Connected: None@flights.db'

In [8]:
%sql SELECT type, name, tbl_name FROM sqlite_master;

Done.

[('table', 'flight_delays', 'flight_delays'),
 ('table', 'airports', 'airports'),
 ('table', 'airlines', 'airlines'),
 ('table', 'weekdays', 'weekdays'),
 ('table', 'weather', 'weather')]

In [9]:
%sql PRAGMA table_info(flight_delays);

Done.

[(0, 'year', 'INTEGER', 0, None, 0),
 (1, 'quarter', 'INTEGER', 0, None, 0),
 (2, 'month', 'INTEGER', 0, None, 0),
 (3, 'day_of_month', 'INTEGER', 0, None, 0),
 (4, 'day_of_week', 'INTEGER', 0, None, 0),
 (5, 'fl_date', 'TEXT', 0, None, 0),
 (6, 'unique_carrier', 'TEXT', 0, None, 0),
 (7, 'airline_id', 'INTEGER', 0, None, 0),
 (8, 'carrier', 'TEXT', 0, None, 0),
 (9, 'tail_num', 'TEXT', 0, None, 0),
 (10, 'fl_num', 'INTEGER', 0, None, 0),
 (11, 'origin_airport_id', 'INTEGER', 0, None, 0),
 (12, 'origin_airport_seq_id', 'INTEGER', 0, None, 0),
 (13, 'origin_city_market_id', 'INTEGER', 0, None, 0),
 (14, 'origin', 'TEXT', 0, None, 0),
 (15, 'origin_city_name', 'TEXT', 0, None, 0),
 (16, 'origin_state_abr', 'TEXT', 0, None, 0),
 (17, 'origin_state_fips', 'INTEGER', 0, None, 0),
 (18, 'origin_state_nm', 'TEXT', 0, None, 0),
 (19, 'origin_wac', 'INTEGER', 0, None, 0),
 (20, 'dest_airport_id', 'INTEGER', 0, None, 0),
 (21, 'dest_airport_seq_id', 'INTEGER', 0, None, 0),
 (22, 'dest_city_market_id', 'INTEGER', 0, None, 0),
 (23, 'dest', 'TEXT', 0, None, 0),
 (24, 'dest_city_name', 'TEXT', 0, None, 0),
 (25, 'dest_state_abr', 'TEXT', 0, None, 0),
 (26, 'dest_state_fips', 'INTEGER', 0, None, 0),
 (27, 'dest_state_nm', 'TEXT', 0, None, 0),
 (28, 'dest_wac', 'INTEGER', 0, None, 0),
 (29, 'crs_dep_time', 'INTEGER', 0, None, 0),
 (30, 'dep_time', 'REAL', 0, None, 0),
 (31, 'dep_delay', 'REAL', 0, None, 0),
 (32, 'dep_delay_new', 'REAL', 0, None, 0),
 (33, 'dep_del15', 'REAL', 0, None, 0),
 (34, 'dep_delay_group', 'REAL', 0, None, 0),
 (35, 'dep_time_blk', 'TEXT', 0, None, 0),
 (36, 'taxi_out', 'REAL', 0, None, 0),
 (37, 'wheels_off', 'REAL', 0, None, 0),
 (38, 'wheels_on', 'REAL', 0, None, 0),
 (39, 'taxi_in', 'REAL', 0, None, 0),
 (40, 'crs_arr_time', 'INTEGER', 0, None, 0),
 (41, 'arr_time', 'REAL', 0, None, 0),
 (42, 'arr_delay', 'REAL', 0, None, 0),
 (43, 'arr_delay_new', 'REAL', 0, None, 0),
 (44, 'arr_del15', 'REAL', 0, None, 0),
 (45, 'arr_delay_group', 'REAL', 0, None, 0),
 (46, 'arr_time_blk', 'TEXT', 0, None, 0),
 (47, 'cancelled', 'REAL', 0, None, 0),
 (48, 'cancellation_code', 'TEXT', 0, None, 0),
 (49, 'diverted', 'REAL', 0, None, 0),
 (50, 'carrier_delay', 'REAL', 0, None, 0),
 (51, 'weather_delay', 'REAL', 0, None, 0),
 (52, 'nas_delay', 'REAL', 0, None, 0),
 (53, 'security_delay', 'REAL', 0, None, 0),
 (54, 'late_aircraft_delay', 'REAL', 0, None, 0),
 (55, 'unnamed: 55', 'REAL', 0, None, 0)]

### Q1

In [22]:
%sql PRAGMA table_info(airports);

Done.

[(0, 'airport_id', 'INTEGER', 0, None, 0),
 (1, 'airport_name', 'TEXT', 0, None, 0)]

In [21]:
%%sql
SELECT w.weekday_name, AVG(f.arr_delay)
FROM flight_delays f
    LEFT JOIN weekdays w ON f.day_of_week = w.weekday_id
GROUP BY w.weekday_name;

Done.

[('Friday', 14.452012705575017),
 ('Monday', 10.537501524948151),
 ('Saturday', 7.544554592337578),
 ('Sunday', 4.211659780807007),
 ('Thursday', 8.47985564692658),
 ('Tuesday', 4.6315245398299725),
 ('Wednesday', 8.4561902339015)]

### Q2

In [47]:
%%sql
SELECT a.airline_name, AVG(f.arr_delay) as arr_delay_average
FROM flight_delays f
    LEFT JOIN airlines a ON f.airline_id = a.airline_id
WHERE a.airline_name IN (
    SELECT DISTINCT a.airline_name
    FROM flight_delays f
        LEFT JOIN airlines a ON f.airline_id = a.airline_id
    WHERE f.origin = 'SFO'
)
GROUP BY a.airline_name
ORDER BY arr_delay_average DESC;

Done.

[('JetBlue Airways: B6', 21.459498403302437),
 ('American Airlines Inc.: AA', 11.186316345868732),
 ('Frontier Airlines Inc.: F9', 10.106046316671906),
 ('SkyWest Airlines Inc.: OO', 9.099801905480614),
 ('Southwest Airlines Co.: WN', 8.777705490592203),
 ('United Air Lines Inc.: UA', 6.730333043511133),
 ('Virgin America: VX', 6.066317340756509),
 ('Delta Air Lines Inc.: DL', 2.783035510698813),
 ('Hawaiian Airlines Inc.: HA', -0.2698805109188298),
 ('Alaska Airlines Inc.: AS', -1.1098173650924996)]

### Q3

In [48]:
%%sql
SELECT a.airline_name, AVG(f.arr_delay) as arr_delay_average
FROM flight_delays f
    LEFT JOIN airlines a ON f.airline_id = a.airline_id
GROUP BY a.airline_name
HAVING arr_delay_average > 10

Done.

[('American Airlines Inc.: AA', 11.186316345868732),
 ('ExpressJet Airlines Inc.: EV', 10.766844881917644),
 ('Frontier Airlines Inc.: F9', 10.106046316671906),
 ('JetBlue Airways: B6', 21.459498403302437)]

### Q4

In [61]:
%%sql
SELECT CAST(COUNT(*) AS float) / (SELECT COUNT(DISTINCT airline_id)
FROM flight_delays)
FROM (
    SELECT a.airline_name, AVG(f.arr_delay) as arr_delay_average
    FROM flight_delays f
        LEFT JOIN airlines a ON f.airline_id = a.airline_id
    GROUP BY a.airline_name
    HAVING arr_delay_average > 10
);

Done.

[(0.3333333333333333,)]

### Q5a

In [65]:
%%sql
SELECT 1 / CAST(COUNT(*) - 1 AS float)
FROM flight_delays;

Done.

[(1.9643702523626464e-06,)]

### Q5b

In [73]:
%%sql
SELECT
    (
        f.dep_delay
            - (SELECT AVG(fdep.dep_delay) FROM flight_delays fdep)
    )
        * (
            f.arr_delay
            - (SELECT AVG(farr.arr_delay) FROM flight_delays farr)
        )
FROM flight_delays f
LIMIT 10;

Done.

[(934.4839764507938,),
 (587.4803955715038,),
 (535.7895547491927,),
 (742.7399314481147,),
 (600.5845629261472,),
 (1151.400785362908,),
 (417.6574053741945,),
 (5.664173134742828,),
 (122.61210995443744,),
 (202.8621592041914,)]

### Q5c

In [74]:
%%sql
SELECT SUM(
    (
        f.dep_delay
            - (SELECT AVG(fdep.dep_delay) FROM flight_delays fdep)
    )
        * (
            f.arr_delay
            - (SELECT AVG(farr.arr_delay) FROM flight_delays farr)
        )
)
FROM flight_delays f;

Done.

[(1205104163.0847344,)]

### Q5d

In [83]:
%%sql

SELECT SUM(
    (
        f.dep_delay
            - (SELECT AVG(fdep.dep_delay) FROM flight_delays fdep)
    )
        * (
            f.arr_delay
            - (SELECT AVG(farr.arr_delay) FROM flight_delays farr)
        )
) * (
    SELECT 1 / CAST(COUNT(*) - 1 AS float)
    FROM flight_delays
)
FROM flight_delays f

Done.

[(2367.2707689620356,)]

### Q6

In [93]:
%%sql

SELECT DISTINCT a.airline_name
FROM flight_delays f
    LEFT JOIN airlines a ON f.airline_id = a.airline_id
WHERE airline_name IN (
    SELECT a.airline_name
    FROM flight_delays f
        LEFT JOIN airlines a ON f.airline_id = a.airline_id
    WHERE f.origin = 'SFO' AND f.dest = 'PDX'
)
    AND airline_name IN (
        SELECT a.airline_name
        FROM flight_delays f
            LEFT JOIN airlines a ON f.airline_id = a.airline_id
        WHERE f.origin = 'SFO' AND f.dest = 'EUG'
    );

Done.

[('SkyWest Airlines Inc.: OO',), ('United Air Lines Inc.: UA',)]