Clase 1-2 Noción de bases de datos e introducción a SQL
------------------------------------------------------------------

### Actividad 0

Complete la instalación de Jupyter junto con el módulo `ipython-sql` de acuerdo a las indicaciones descritas en la [presentación de la clase1](https://github.com/hectorh30/cc3057-2017/blob/master/clases/clase1-introduccion/clase1.pdf).

In [1]:
%load_ext sql

### Creando tablas en SQL

Antes de introducirnos a los queries SQL básicos (es decir, hacer consultas), veremos un poco acerca de cómo **crear** tablas.

Before we actually get into basic SQL queries (**asking questions _of_ data in tables**), we'll look at some of the basics about how to **create** tables.

**NOTA: Asegúrese de contar con el la base de datos [dataset_1.db](https://github.com/hectorh30/cc3057-2017/blob/master/laboratorios/lab1/dataset_1.db) del laboratorio dentro de la carpeta en donde tiene este notebook.**

In [2]:
%sql sqlite:///dataset_1.db

'Connected: None@dataset_1.db'

### Actividad 1

Esquemas y creación de tablas

Recuerde de la clase anterior que la base de datos cuenta con la tabla `precipitation_full` que tiene el siguiente esquema:

> * `state_code`
> * `station_id`
> * `year`
> * `month`
> * `day`
> * `hour`
> * `precipitation`
> * `flag_1`
> * `flag_2`

Cada *tupla* en esta tabla denota una fecha (denotada por `year`, `month` y `day`) y hora (`hour`) durante la cual fue medida la cantidad de lluvia (almacenada en `precipitation`), medida en centésimos de pulgada, en una estación (`station_id`) dentro de un estado (`state_code`).

Note que las tuplas con `hour=25` almacenan el total de lluvia para ese día. Los *atributos* `flag_1` y `flag_2` no son relevantes por el momento.

Veamos ahora cómo consultar el **esquema** (_schema_) de una tabla existente. Existen diversas formas de hacer esto, entre las cuales están:

* DESCRIBE tablename
* SHOW CREATE TABLE tablename
* SHOW COLUMNS tablename

Desafortunadamente, el soporte para estas instrucciones varía grandemente entre DBMSs, además de contar con la limitante de IPython actual.

Por ejemplo, `SQLite`, que es el DBMS que está usando actualmente, no soporta estas instrucciones, y cuenta con un comando `.schema tablename` que no es compatible con este notebook.

*Investigue la sintaxis del comando `PRAGMA` de SQLite y ejecute, en combinación con el comando `SELECT`, la instrucción necesaria para visualizar la información del esquema de la tabla `precipitation_full`.*

**NOTA: Recuerde iniciar sus comandos de sql con `%sql` para comandos de una línea y `%%sql` para comandos de múltiples líneas**

In [8]:
%sql PRAGMA table_info('precipitation_full');

Done.

[(0, 'state_code', 'INT', 0, None, 0),
 (1, 'station_id', 'INT', 0, None, 0),
 (2, 'year', 'INT', 0, None, 0),
 (3, 'month', 'INT', 0, None, 0),
 (4, 'day', 'INT', 0, None, 0),
 (5, 'hour', 'INT', 0, None, 0),
 (6, 'precipitation', 'INT', 0, None, 0),
 (7, 'flag_1', 'VARCHAR(1)', 0, None, 0),
 (8, 'flag_2', 'VARCHAR(1)', 0, None, 0)]

In [10]:
%sql SELECT flag_1 FROM precipitation_full LIMIT 30;

Done.

[('[',),
 ('I',),
 (']',),
 ('I',),
 ('g',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('g',),
 ('',),
 ('T',)]

Otra alternativa útil al trabajar con DBMSs SQL es analizar el esquema de una tabla a partir de la información almacenada por el mismo DBMS, tambien en tablas.

*Investigue el contenido de la tabla interna `sqlite_master` utilizada por SQLite para almacenar la definición de las tablas de usuario. Luego ejecute la instrucción `SELECT` necesaria para la información almacenada en esa tabla*

El atributo `sql` del resultado anterior contiene la instrucción necesaria para *crear* la tabla `precipitation_full`.

Suponga que los miembros de la sección 10 del curso `CC3057 BASES DE DATOS` fueron asignados para apoyar al departamento de investigación con la recolección esta información.

_Basado en los pasos anteriores, investigue y ejecute la instrucción necesaria para crear una tabla en dónde registrar los turnos en los que cada miembro de la sección trabajará una medición._

Estos son los requerimientos:
* Cada miembro de la clase realizará una medición diaria manteniendo una probeta bajo la lluvia, por un turno que puede abarcar múltiples horas, en una estación específica.
* Cada miembro de la clase contará con un día libre a la semana
* La probeta de cada persona puede ser de diferente tamaño, medida como la cantidad máxima de agua que puede almacenar (medida en litros)
* Dado que los servidores del departamento de investigación no pueden almacenar toda la información que se generará, será necesario elegir aleatoriamente e identificar a algunos estudiantes que cumplirán con su turno pero que no contarán con probeta
* Algunos estudiantes en clase tienen [nombres peculiares](https://www.youtube.com/watch?v=fHxO0UdpoxM)

### Actividad 2

_Ejecute el siguientes comando para crear y conectarse a una una base de datos en blanco_

In [11]:
%sql sqlite://

'Connected: None@None'

*Ejecute el siguiente comando para crear la tabla `producto` e ingresar cuatro tuplas*

In [12]:
%%sql drop table if exists producto;
create table producto(
       nombre varchar primary key,
       precio money,               
       categoria varchar,             
       proveedor varchar NOT NULL     
);
insert into producto values('Gizmo', 19.99, 'Gadgets', 'GizmoWorks');
insert into producto values('PowerGizmo', 29.99, 'Gadgets', 'GizmoWorks');
insert into producto values('MultiTouch', 203.99, 'Household', 'Hitachi');
insert into producto values('SingleTouch', 149.99, 'Photography', 'Canon');

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [14]:
%sql SELECT nombre FROM producto WHERE nombre LIKE '%single%';

Done.

[('SingleTouch',)]

*Escriba un query para obtener una tabla de todos los productos que contengan 'Touch' dentro del nombre, mostrando únicamente su nombre y precio, ordenados alfabeticamente por proveedor*

_Escriba un query que retorne los proveedores de productos que contengan 'Gizmo' en su nombre, sin duplicados_

_**Prediga** el resultado de los siguientes queries y escribalos en celdas de tipo `Markdown` como un listado de tuplas_

`SELECT DISTINCT category FROM product ORDER BY category;`

*Resultado:*

`SELECT category FROM product ORDER BY proveedor;`

*Resultado:*

`SELECT DISTINCT category FROM product ORDER BY proveedor;`

*Resultado:*