Esto es jupyter (IPython notebook)
-------------------------------------

Empecemos con lo de siempre: `"Hello world!"`.

Para ejecutar una celda, hacer click y luego SHIFT+ENTER. Esto evalúa el contenido de la celda y mueve el cursor a la siguiente.

Para más información ver Help

In [4]:
print("Hello world!")

Hello world!

Ahora, para usuarios avanzados:

In [2]:
import sys, time
message = "HELLO WORLD!"

L = len(message)
for i in range(100):
    time.sleep(0.1)
    j = i % L
    if j > 0:
        sys.stdout.write("\r" + message[-j:] + " " + message[:L-j])
    else:
        sys.stdout.write("\r" + message)
    sys.stdout.flush()

LD! HELLO WOR

Va, va. Volviendo a donde estábamos.

El objetivo es trabajar SQL desde estos notebooks. Para eso cargamos la [extensión](https://github.com/catherinedevlin/ipython-sql) ipython-sql como sigue:

**NO ENTRE EN PÁNICO**
* Si ve un letrero rojo de warning o una nota indicando que la extensión ya fue cargada verifique únicamente que sus comandos SQL funcionen correctamente

* Si no entiende lo que indica SQL no se preocupe, a eso vamos

In [2]:
%load_ext sql

A continuación cargamos la base de datos de SQLite como sigue:

**NOTA: el archivo "dataset_1.db" debe existir en el mismo directorio que este notebook. Asegúrese de tenerlo allí.**

In [3]:
%sql sqlite:///dataset_1.db

'Connected: None@dataset_1.db'

Esta base de datos proviene del data set *US National Oceanic and Atmospheric Administration Rainfall*.

La tabla (*relacion*) `precipitation_full` tiene el siguiente *esquema*:

> * `state_code`
> * `station_id`
> * `year`
> * `month`
> * `day`
> * `hour`
> * `precipitation`
> * `flag_1`
> * `flag_2`

Cada *tupla* en esta tabla describe una hora de lluvia (`precipitation`) medida en centésimos de pulgada (*centipulgada?*) en una estación (`station_id`) dentro de un estado (`state_code`).  Note que las tuplas con `hour=25` almacenan el total de lluvia para ese día. Los *atributos* `flag_1` y `flag_2` no son relevantes por el momento.

Note que también puede cargar una base de datos en blanco usando:

``%sql sqlite://``

Vemos algunos datos via *SQL queries* (Veremos los detalles de la sintáxis más adelante)

**`%sql` se usa para comandos SQL de una sola linea:**

In [4]:
%sql SELECT * FROM precipitation_full LIMIT 5;

Done.

[(1, 807, 2013, 9, 1, 1, None, '[', ''),
 (1, 807, 2013, 9, 1, 25, 0, 'I', ''),
 (1, 807, 2013, 9, 30, 24, None, ']', ''),
 (1, 807, 2013, 9, 30, 25, 0, 'I', ''),
 (1, 6303, 2013, 9, 1, 1, 0, 'g', '')]

In [6]:
%sql SELECT COUNT(*) FROM precipitation_full;

Done.

[(74251,)]

**`%%sql` se usa para comandos SQL de múltiples líneas:**

In [7]:
%%sql
SELECT SUM(p.precipitation) 
FROM precipitation_full p, states s 
WHERE p.state_code = s.code AND s.abbrev = 'CA';

Done.

[(31982,)]

Incluso podemos trabajar sobre el resultado de un *query*:

In [11]:
result = %sql SELECT * FROM states;

Done.

In [9]:
result.keys

['code', 'name', 'abbrev']

*Note que la primera fila corresponde a los encabezados del resultado*

In [17]:
result[0]

(0, 'State', 'Abbreviation')

In [18]:
result[1]

(1, 'Alabama', 'AL')

In [19]:
result[1].name

'Alabama'

Now feel free to have fun with the dataset- we'll see more of it later though!